
DEnviroments.xcconfig
*.wav
*.wav
BatteryBoi DMG.dmgcanvas/Disk Image
BatteryBoi DMG.dmgcanvas/Contents/backgroundImage.png
BatteryBoi DMG.dmgcanvas/QuickLook/Preview.jpg
BatteryBoi.sketch
BatteryBoi/.DS_Store
build/
*.backup
