<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EN_API_KEY</key>
	<string>$(SD_ENALOG_KEY)</string>
    <key>EN_PROJECT_NAME</key>
    <string>BatteryBoi</string>
</dict>
</plist>
