<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.ovatar.batteryapp.helperboi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersionKey</key>
	<string>1.01</string>
	<key>NSHumanReadableCopyright</key>
	<string>Ovatar Ltd</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;com.ovatar.batteryapp&quot; and anchor apple generic and certificate leaf[subject.CN] = &quot;Apple Development: Joe Barbour (9292KA78DX)&quot; and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
	<key>CFBundleName</key>
	<string>helperboi</string>
	<key>CFBundleDisplayName</key>
	<string>helperboi</string>
</dict>
</plist>
