//
//  DEnviroments.xcconfig
//  BatteryBoi
//
//  Created by Joe Barbour on 8/9/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENV_ENALOG_KEY = F1908DM0WIFYECGGNN3WDTDP
ENV_SLACK_CHANNEL = C05N4FHJSUB
ENV_ICLOUD_ID = iCloud.com.ovatar.batteryboi
ENV_MACH_ID = com.ovatar.batteryapp.helperboi.mach
ENV_ICLOUD_FILE = BBDataObject
ENV_CLIBOI_PORT = group.com.ovatar.batteryboi
ENV_SPARKLE_PUBLIC = t1V9elylrpBkN0l4EkNxs7eEGVLF3Yd0P0sKDXqxfoA=
ENV_APPCAST_URL = https://api.ovatar.io/version?id=com.ovatar.batteryapp&beta=true
