//
//  DEnviroments.xcconfig
//  BatteryBoi
//
//  Created by Joe Barbour on 8/9/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENV_ENALOG_KEY = F1908DM0WIFYECGGNN3WDTDP
ENV_SLACK_CHANNEL = C05N4FHJSUB
ENV_ICLOUD_ID = iCloud.com.ovatar.batteryboi
ENV_ICLOUD_FILE = BBDataObject
