<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ovatar.batteryapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>batteryboi</string>
			</array>
		</dict>
	</array>
	<key>ENV_ICLOUD_FILE</key>
	<string>$(ENV_ICLOUD_FILE)</string>
	<key>ENV_ICLOUD_ID</key>
	<string>$(ENV_ICLOUD_ID)</string>
	<key>ENV_SLACK_CHANNEL</key>
	<string>$(ENV_SLACK_CHANNEL)</string>
	<key>ENV_MACH_ID</key>
	<string>$(ENV_MACH_ID)</string>
	<key>EN_API_KEY</key>
	<string>$(SD_ENALOG_KEY)</string>
	<key>EN_PROJECT_NAME</key>
	<string>BatteryBoi</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Notifications are used to inform you when your any of your connected Devices need charging.</string>
	<key>SUFeedURL</key>
	<string>$(ENV_APPCAST_URL)</string>
	<key>SUPublicEDKey</key>
	<string>$(ENV_SPARKLE_PUBLIC)</string>
	<key>ENV_CLIBOI_PORT</key>
	<string>$(ENV_CLIBOI_PORT)</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.ovatar.batteryapp.helperboi</key>
		<string>identifier &quot;com.ovatar.batteryapp.helperboi&quot; and anchor apple generic and certificate leaf[subject.CN] = &quot;Apple Development: Joe Barbour (9292KA78DX)&quot; and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</dict>
</dict>
</plist>
