<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.ovatar.batteryapp.cliboi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersionKey</key>
	<string>1.01</string>
	<key>NSHumanReadableCopyright</key>
	<string>Ovatar Ltd</string>
	<key>CFBundleName</key>
	<string>cliboi</string>
	<key>CFBundleDisplayName</key>
	<string>cliboi</string>
</dict>
</plist>
